@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body {
    background-color: #f3e6d8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.card {
    background-color: #fff;
    max-width: 650px;
    border-radius: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.card h1 {
    font-family: 'Young Serif';
    font-size: 40px;
    font-weight: 400;
}

.card p {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    color: #4f4e4d;
    margin-bottom: 30px;
}

hr {
   border-top: #e4ded8;
}

h2 {
    font-family: 'Young Serif';
    font-weight: 500;
    color: #854632;
    font-size: 30px;
}

li {
    margin-bottom: 10px;
    margin-right: 15px;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    color: #4f4e4d;
}

li, p {
    line-height: 150%;
}

ul, ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ol li{
    padding-left: 12px;
}

ul li::marker {
    color: #854632;
}

ol li::marker {
    color: #854632;
    font-weight: 700;
}

#prep {
    background-color: #fff5fa;
    max-width: 100%;
    border-radius: 20px;
    text-align: left;
    padding: 5px;
    padding-left: 30px;
}

#prep h3 {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 18px;
    color: #7b284f;
}

.nutrition {
    display: flex;
    flex-direction: row;
}

.nutrition p {
    flex: 1;
    margin: 8px 0;
    padding-left: 20px;
}

.nutrition #num {
    color: #854632;
    font-weight: 700;
}